@import url("https://fonts.googleapis.com/css2?family=Playfair:opsz,wdth,wght@5..1200,87.5..112.5,300..900&family=Roboto:wdth,wght@75..100,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
main {
  overflow: hidden;
}
/* common-style */
h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-family: "Playfair display", serif;
  font-size: 2.5rem;
  word-spacing: 5px;
  background-color: transparent;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "Playfair display", serif;
  font-size: 1.5rem;
  font-weight: 500;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}
h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
/* header */
header{
    width: 100%;
    height: auto;
    background-color: #000000;
    padding: 0.5rem 2rem;
    text-align: center;
    color: #ffffff;
}
.navbar-brand{
    background-color:#000000;
}
.navbar-brand img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
 
}
.navbar-toggler{
    background-color:#000000;
    padding: 0.5rem;
     color: #ffffff;
}
span.navbar-toggler-icon{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #000000;
     color: #ffffff;

}
.collapse.navbar-collapse{
    background-color: #000000;
     color: #ffffff;
}

.navbar-nav{
    align-items:left;
    justify-content: left;
    padding:0.5rem;
    margin-right: 0.5rem;
    background-color: #000000;
     color: #ffffff;
}
.nav-item{
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
.nav-link {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem;
}
.nav-item:hover {
    color: #c1c1c1;
   
}

.dropdown-menu{
  background-color: #202020;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
}

.dropdown-item{
    background-color: #202020;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.contact-btn{
    padding: 0.3 1rem;
    border-radius: 10px;
    border: 0.2rem solid #ffffff;
    color: #ffffff;
}
.contact-btn:hover{
    background-color:#8585859a ;
    color: #000000;
}

/* end header */
/* start content*/
.parallax {
background-image: url("../image/back-ground.jpg");
    height: 70vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    color: #ffffff;
  }
  .hero{
    position: relative;
    justify-self: center;
    height: 70%;
    width: 100%;
    padding: 2rem;
    background: transparent;
    display: flex;
    flex-direction: column; 
  }
   .hero-content1 {
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 2rem;
    place-content: left;
    text-align: left;
    background: transparent;
    display: flex;
    flex-direction: column; 
  }
    .hero-content2 {
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 2rem;
    place-content: left;
    text-align: left;
    background: transparent;
    display: flex;
    flex-direction: column; 
  }
    
.hero-title1 {
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    font-family: 'Playfair', serif;
  }
.hero-title2 {
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    font-family: 'Playfair', serif;
  }
  .word {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  .word:nth-child(1) {
    animation-delay: 0s;
  }
  .word:nth-child(2) {
    animation-delay: 1.5s;
  }

.word1 {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
    .word1:nth-child(1) {
    animation-delay: 0s;
  }
  .word1:nth-child(2) {
    animation-delay: 2s;
    /* color: #ffffff;   
    font-family: 'Playfair', serif;
    font-weight: 400;
    font-style: italic; */
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  /* section-2 */
 
.all-projects{
    width: 100%;
    height: auto;
    background-color:#e0e0e0 ;
    padding: 2rem;
}
.all-projects-wrapper{
    padding: 2rem;
}
.card {
   cursor: pointer;
    border: none;
}
.card-img {
    height: 22rem;
    width: 100%;
    object-fit: cover;
}
.card-img-overlay {
      background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

.overlay-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
    }

 .arrow-btn{
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  padding: 0.6rem 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.arrow-btn:hover {
  background: white;
  color: black;
  transform: rotate(0deg) scale(1.1);
}
footer{
background-color: #000000;
padding: 2rem;
color: #ffffff;
text-align: center;
}
footer h4{
    font-family: 'Playfair', serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.3rem;
}
.list-inline{
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}
.list-inline-item a{
  color: #ffffff;
  text-decoration: none;
}
.social-icons{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ffffff;
}
.email{
  color: #ffffff;
  margin-bottom: 1rem;
}
.copyright{
  color: #ffffffe0;
  margin-bottom: 0.05rem;
}
/* process */

/* about-page */
.journey{
background-color: #e6e6e6;
  width:100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

#my {
  text-align:center;
  padding: 1rem;
  margin-bottom: 1.2rem;
  background-color: transparent;
  color: #000000;
  animation: fadeIn 4s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.section-journey-body {
width: 90%;
height: auto;
justify-content:left;
align-items: left;
text-align: left;
background-color: #e6e6e6;
}

.section-journey-title {
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: left;

} 
.section-journey-body p{
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
} 
.process{
  width: 100%;
  height: auto;
  padding: 2rem;
 background-color: #e6e6e6;
}
.process-wrapper{
  padding: 2rem;
background-color: #e6e6e6;
}
.process-wrapper-title{
  font-family: 'Playfair', serif;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
    animation: fadeIn 6s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.step-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000;
  text-align:center;
}
.card-text{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  text-align:center;
}


/* end process */
/* section-skills */
 .skills-about {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  background-image: url(../image/Untitled-1.png);
  background-repeat: no-repeat;
}
.skills-grid-wrapper {
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); 
  gap: 1rem;
}
.skills-text {
  width: 100%;
  height: auto;
  padding: 3rem;
  align-items: center;
  border-radius: 15px;
}
.skills-text ul {
  padding: 1rem;
} 
/* contact */
.contact {
background-color: #d9d9d9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.contact-wrapper{
  padding: 2rem;
}
.contact-title{
  font-family: 'Playfair', serif;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}
.contact-subtitle{
  font-family: 'Roboto',sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}
form {
  max-width: 80%;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgb(213, 213, 213);
  color: rgb(255, 255, 255);
}
.name ,.email, .message{
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.card-contact p {
  color: rgb(0, 0, 0);
  padding: 1.1rem;
  text-align: center;
  background-color: transparent;
}
label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  background-color: transparent;
}
input,
textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.btn-contact{
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  font-family: roboto, sans-serif;
  cursor: pointer;
  border-radius: 15px;
}
.btn-contact:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#successMessage {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #4c5bff;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#successMessage.show {
  display: block;
  opacity: 1;
}
/* end contact */

.logo-section{
  height: auto;
  width: 100%;
  background-color: #000000;
color: #ffffff;
}
.logo-wrapper{
  padding: 2rem;
  height: auto;
  width: 100%;
  background-color: #000000;
}
.logo-image{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* end logo */

/* branding */
.branding-project {
  width: 100%;
  height: auto;
  margin: 0;
  padding:2rem;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
}
.branding-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.branding-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

/* end branding */
/* websites */
 .website-project {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.website-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 100%;
  overflow: hidden;
}

.website-grid-wrapper img {
  width: 100%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

img.show {
  opacity: 1;
  transform: translateY(0);
}
.website-name {
  font-family: "Roboto", sans-serif;
}
.website-text {
  font-family: "Roboto", sans-serif;
  padding: 2rem;
}
.website-text h3 p {
  padding: 0 2rem;
  font-family: "Roboto", sans-serif;
}
.objectives ul {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
} 
/* personal-projects */
.personal-project {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.personal-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.personal-grid-wrapper img {
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

img.show {
  opacity: 1;
  transform: translateY(0);
} 

/* responsive for small devices */
@media only screen and (max-width: 480px) {
body {
  font-size: 16px;
}
main {
  overflow: hidden;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.75rem;
  word-spacing: 0;
  background-color: transparent;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "Playfair display", serif;
  font-size: 1.5rem;
  font-weight: 500;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}
h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
/* header */
.navbar-toggler{
  padding: 0.2rem;
}
span.navbar-toggler-icon{
width: 2.5rem;
height: 2.5rem;
background-color: #000000;
color: #ffffff;
}

.navbar-nav{
    padding:0.2rem;
    margin-right:0 ;
    background-color: #000000;
    color: #ffffff;
}
.nav-item{
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
.nav-link {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 500;
    text-decoration: none;
    padding: 0.2rem;
}
.nav-item:hover {
    color: #c1c1c1;
   
}

.dropdown-menu{
  background-color: #202020;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
}

.dropdown-item{
    background-color: #202020;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.contact-btn{
    padding: 0.3 1rem;
    border-radius: 10px;
    border: 0.2rem solid #ffffff;
    color: #ffffff;
}
.contact-btn:hover{
    background-color:#8585859a ;
    color: #000000;
}

/* end header */
/* start content*/
.parallax {
background-image: url("../image/back-ground.jpg");
    height: 90vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    color: #ffffff;
  }
  .hero{
    position: relative;
    justify-self: center;
    height: 70%;
    width: 100%;
    padding: 1rem;
    background: transparent;
    display: flex;
    flex-direction: column; 
  }
   .hero-content1 {
    position: absolute;
    top: 20%;
    left: 5%;
    padding: 1rem;
    place-content: left;
    text-align: left;
    background: transparent;
    display: flex;
    flex-direction: column; 
  }
    .hero-content2 {
    position: absolute;
    top: 75%;
    left: 5%;
    padding: 1rem;
    place-content: left;
    text-align: left;
    background: transparent;
    display: flex;
    flex-direction: column; 
  }
    
.hero-title1 {
    font-size: 4.2rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    font-family: 'Playfair', serif;
  }
.hero-title2 {
    font-size: 4.2rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    font-family: 'Playfair', serif;
  }
  .word {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  .word:nth-child(1) {
    animation-delay: 0s;
  }
  .word:nth-child(2) {
    animation-delay: 1.5s;
  }

.word1 {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
    .word1:nth-child(1) {
    animation-delay: 0s;
  }
  .word1:nth-child(2) {
    animation-delay: 2s;
    /* color: #ffffff;   
    font-family: 'Playfair', serif;
    font-weight: 400;
    font-style: italic; */
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  /* section-2 */
 
.all-projects{
    padding: 1rem;
}
.all-projects-wrapper{
    padding: 1rem;
}

.card-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.card-img-overlay {
      background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

.overlay-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
    }

 .arrow-btn{
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  padding: 0.6rem 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


footer{
background-color: #000000;
padding: 2rem;
color: #ffffff;
text-align: center;
}
footer h4{
    font-family: 'Playfair', serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.3rem;
}
.list-inline{
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}
.list-inline-item a{
  color: #ffffff;
  text-decoration: none;
}
.social-icons{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #ffffff;
}
.email{
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.copyright{
  color: #ffffffe0;
  margin-bottom: 0.05rem;
}
/* process */

/* about-page */
.journey{
background-color: #e6e6e6;
  width:100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

#my {
  text-align:center;
  padding: 1rem;
  margin-bottom: 1.2rem;
  background-color: transparent;
  color: #000000;
  animation: fadeIn 4s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.section-journey-body {
width: 90%;
height: auto;
justify-content:left;
align-items: left;
text-align: left;
background-color: #e6e6e6;
}

.section-journey-title {
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  font-weight: 500;
  text-align: left;

} 
.section-journey-body p{
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
} 
.process{
  width: 100%;
  height: auto;
  padding: 1rem;
 background-color: #e6e6e6;
}
.process-wrapper{
  padding: 2rem;
background-color: #e6e6e6;
}
.process-wrapper-title{
  font-family: 'Playfair', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
    animation: fadeIn 6s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.step-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #000000;
  text-align:center;
}
.card-text{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  text-align:center;
}


/* end process */

/* contact */
.contact {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.contact-wrapper{
  padding: 1rem;
}
.contact-title{
  font-family: 'Playfair', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.7rem;
}
.contact-subtitle{
  font-family: 'Roboto',sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}
form {
  max-width: 90%;
  padding: 1rem;
}
.name ,.email, .message{
  margin-bottom: 0.2rem;
  padding: 0.5rem;
}
.card-contact p {
  color: rgb(0, 0, 0);
  padding: 1rem;
  text-align: center;
  background-color: transparent;
}
label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  background-color: transparent;
}
input,
textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.btn-contact{
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border-radius: 15px;
}
.btn-contact:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* end contact */

.logo-section{
  height: auto;
  width: 100%;
  background-color: #000000;
color: #ffffff;
}
.logo-wrapper{
  padding: 2rem;
  height: auto;
  width: 100%;
  background-color: #000000;
}
.logo-image{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* end logo */

/* branding */
.branding-project {
  width: 100%;
  height: auto;
  margin: 0;
  padding:0;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
}
.branding-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.branding-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

/* end branding */
/* websites */
 .website-project {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.website-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 100%;
  overflow: hidden;
}

.website-grid-wrapper img {
  width: 100%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

img.show {
  opacity: 1;
  transform: translateY(0);
}
.website-name {
  font-family: "Roboto", sans-serif;
}
.website-text {
  font-family: "Roboto", sans-serif;
  padding: 2rem;
}
.website-text h3 p {
  padding: 0 2rem;
  font-family: "Roboto", sans-serif;
}
.objectives ul {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
} 
/* personal-projects */
.personal-project {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.personal-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width:100%;
  height: auto;
  overflow: hidden;
}

.personal-grid-wrapper img {
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

img.show {
  opacity: 1;
  transform: translateY(0);
} 

}
